@font-face {
  font-family: 'GTWalsheimProMedium';
  src:
  url('../fonts/GTWalsheimProMedium.woff') format('woff'),
  url('../fonts/GTWalsheimProMedium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdelleSans';
  src:
  url('../fonts/AdelleSans.woff') format('woff'),
  url('../fonts/AdelleSans.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.ttf') format('truetype'),
        url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularBold';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.ttf') format('truetype'),
        url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
