---
layout: default
---
<!-- Header -->
{% include header.html %}
<!-- End Header -->
<!-- Contact -->
<section class="faq">
  <div class="row">
    <div class="small-12 medium-4 columns">
    	<h5>{{ page.question-1 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
    	{{ page.answer-1 | markdownify }}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-2 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-2 | markdownify}}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-3 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-3 | markdownify}}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-4 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-4 | markdownify}}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-5 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-5 | markdownify}}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-6 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-6 | markdownify}}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-7 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-7 | markdownify}}
    </div>
    <div class="small-12 medium-4 columns">
      <h5>{{ page.question-8 }}</h5>
    </div>
    <div class="small-12 medium-8 columns">
      {{page.answer-8 | markdownify}}
    </div>
  </div>
</section>
<!-- End Contact -->
